@import "src/assets/scss/vars";

$time_width: 358px;

.task-creation-content {
  width: 876px;
  &__body {
    background-color: $white;

    &__links {
      border-bottom: 1px solid #E0E0E6;
    }

    &__rubric {
      width: 464px;
    }

    &__btn {
      width: 170px;
    }

    &__add-btn {
      width: 222px;
    }
    .quiz-content-item {
      background-color: #F2F3F6;
      width: 812px;
      border-radius: $default_border_radius;
      border: 1px solid $grey_placeholder;

      &__type {
        width: 358px;
      }
    }

    .task-creation-icon {
      width: 16px;
      height: 16px;
      path {
        stroke: $grey_additional_2;;
      }
    }
    &__card {
      border: 1px solid #E0E0E6;
      border-radius: 6px;
      .body__card__img {
        width: 36px;
        height: 36px;
        border-radius: 4px;
      }
    }
  }
}
