@import "src/assets/scss/vars";

.card-advertisement {
  background: $white;
  border-radius: $default_border_radius 0 0 $default_border_radius;
  height: 124px;
  .card-advertisement__image-wrapper {
    width: 124px;
    min-width: 124px;
    .card-advertisement__image {
      border-radius: $default_border_radius 0 0 $default_border_radius;
    }

    .card-advertisement__favorite-image {
      right: 8px;
      top: 8px;
      opacity: 0.0;
      z-index: 5;
    }

    .card-advertisement__image-overlay {
      opacity: 0;
      top: 0;
      left: 0;
      background: $black;
      border-radius: $default_border_radius;
    }


    &:hover {
      border-color: rgba($grey_outline, .55);
      .card-advertisement__favorite-image {
        transition: all 0.3s ease;
        opacity: 1;
      }
      .card-advertisement__image-overlay {
        opacity: .45;
      }
    }
  }

  .card-advertisement__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .card-advertisement__content {
    .card-advertisement__star-icon {
      width: 12px;
      height: 12px;
    }
    .card-advertisement__coin-image {
      width: 14px;
      height: 14px;
    }

    .card-advertisement__button {
      border-radius: 31px;
      box-shadow: 0 4px 34px rgba(255, 255, 255, 0.34), 0 4px 35px rgba(226, 226, 203, 0.17);
      padding: 2.5px 16px;
    }
  }
}
