@import "src/assets/scss/vars";

.employee-modal {
  padding: 0 32px;
}

.employees-table {
  .employees-table__user-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
  }
  .employees-table__group-names {
    cursor: pointer;
    &:hover {
      color: $main_50;
    }
  }
  .employees-table__group-hint {
    .tippy-content {
      padding: 6px 12px;
    }
  }
  .employees-table__status-hint {
    border: none;
    overflow: hidden;
    .tippy-content {
      padding: 6px 10px;
      background: $black;
    }
  }

  .employees-table__status-img {
    cursor: pointer;
  }
}

.employees-search-input {
  width: 376px;
}
