@import "src/assets/scss/vars";
.filters__tasks-type {
    .tasks-type__button {
      background-color: $white;
      border-radius: 32px;

      &:last-child {
        margin-right: 0;
      }

      &--active, &:hover {
        color: $main_50 !important;
        background: $main_90;
      }
    }
  }

  .coin__image{
    width: 11px;
    height: 11px;
    margin-left: 5px;
  }