@import "src/assets/scss/vars";

.task-result-employee {

  .task-result-employee__list {
    width: 560px;
  }

  .task-result-employee__avatar {
    width: 36px;
    height: 36px;
    border-radius: 30px;
  }

  &__arrow {
    width: 32px;
    height: 32px;
    padding: 4px 9px;
    border: 1px solid $grey_outline;
    border-radius: $default_border_radius;
  }

  &__cards {
    width: 648px;
    border: 1px solid $grey_outline;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02);
    border-radius: 6px;
  }
}
