@import 'src/assets/scss/vars';

.main-info {
  background-color: $white;
  width: 100%;

  .main-info__left {
    width: 648px;
    .main-info__description {
      line-height: 28px;
    }

    .card-final-exam {
      border: 1px solid $grey_outline;
      border-radius: $default_border_radius;
      .lock-icon {
        path { stroke: $grey_additional_2; }
      }

      &--disabled {
        background: rgba(224, 231, 255, 0.2);
        pointer-events: none;
      }
    }
  }

  .main-info__right {
    .main-info__additional-info {
      width: 336px;
      min-height: 70px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.02);
    }
  }
}
