@import "src/assets/scss/vars";

.shop {

  .shop__body {

    .searcher__input-wrapper {
      background-color: white;
      width: 424px;
    }
    .searcher__input {
      font-size: 16px;
      line-height: 19px;
    }

    &__btn {
      height: 52px;
    }
  }
}
