@import "src/assets/scss/vars";

.task-detail {

  &__icon {
    &--yellow {
      path {stroke: $main_50;}
    }
    &--red {
      path {stroke: $red;}
    }
  }

  &__tabs {
    background: $main_90;
    width: fit-content;
    border-radius: $default_border_radius $default_border_radius 0 0;

    .tabs__button {
      height: 100%;
      background: $main_90;
      color: $main_60;
      border-radius: $default_border_radius $default_border_radius 0 0;

      &:hover, &:active, &:focus, &--active {
        background: $white;
        color: $black;
      }

      &:first-of-type {
        margin-right: 8px;
      }
    }
  }

  &__preview {
    width: 776px;
  }

  .task-detail__cards {
    border: 1px solid $grey_outline;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02);
    border-radius: 6px;
  }
}

