@import "src/assets/scss/vars";

.shop-content {

  &__header {
    background: $white;
  }

  &__type-wrap {
      width: 75%;
      .shop-content__type__button {
        background-color: $white;
        border-radius: 32px;

        &:last-child {
          margin-right: 0;
        }

        &--active, &:hover {
          color: $main_50 !important;
          background: $main_90;
        }
      }
    }

  &__cards {

    &__item {
      width: 376px;
      margin-right: 12px;
    }
  }
}
