@import "src/assets/scss/vars";

$title_width: 470px;
$select_width: 358px;

.card-general-info {
  padding: 32px 24px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.02);
  background: $white;

  .card-general-info__title {
    width: $title_width;
  }

  .card-general-info__category {
    width: $select_width;
    .select__options {
      padding-bottom: 0 !important;
      .options__item--custom {
        border-top: 1px solid $grey_outline;
        color: $main_50;
        padding-top: 4px;
        padding-bottom: 4px;
        .options__item__name:hover {
          background-color: white !important;
        }
      }
    }
  }

  .search-chips {
    width: $select_width;
  }
}
